PPS_NET45/Shipping/Pack/Web References/UpsWcf/ICTToCarrierService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ICTToCarrierService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.171.16.201:8091/ICTToCarrierService?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IICTToCarrierService_Ship_InputMessage">
    <wsdl:part name="parameters" element="tns:Ship" />
  </wsdl:message>
  <wsdl:message name="IICTToCarrierService_Ship_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShipResponse" />
  </wsdl:message>
  <wsdl:message name="IICTToCarrierService_Reprint_InputMessage">
    <wsdl:part name="parameters" element="tns:Reprint" />
  </wsdl:message>
  <wsdl:message name="IICTToCarrierService_Reprint_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReprintResponse" />
  </wsdl:message>
  <wsdl:message name="IICTToCarrierService_Void_InputMessage">
    <wsdl:part name="parameters" element="tns:Void" />
  </wsdl:message>
  <wsdl:message name="IICTToCarrierService_Void_OutputMessage">
    <wsdl:part name="parameters" element="tns:VoidResponse" />
  </wsdl:message>
  <wsdl:portType name="IICTToCarrierService">
    <wsdl:operation name="Ship">
      <wsdl:input wsaw:Action="http://tempuri.org/IICTToCarrierService/Ship" message="tns:IICTToCarrierService_Ship_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IICTToCarrierService/ShipResponse" message="tns:IICTToCarrierService_Ship_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reprint">
      <wsdl:input wsaw:Action="http://tempuri.org/IICTToCarrierService/Reprint" message="tns:IICTToCarrierService_Reprint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IICTToCarrierService/ReprintResponse" message="tns:IICTToCarrierService_Reprint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Void">
      <wsdl:input wsaw:Action="http://tempuri.org/IICTToCarrierService/Void" message="tns:IICTToCarrierService_Void_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IICTToCarrierService/VoidResponse" message="tns:IICTToCarrierService_Void_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IICTToCarrierService" type="tns:IICTToCarrierService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ship">
      <soap:operation soapAction="http://tempuri.org/IICTToCarrierService/Ship" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reprint">
      <soap:operation soapAction="http://tempuri.org/IICTToCarrierService/Reprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Void">
      <soap:operation soapAction="http://tempuri.org/IICTToCarrierService/Void" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ICTToCarrierService">
    <wsdl:port name="BasicHttpBinding_IICTToCarrierService" binding="tns:BasicHttpBinding_IICTToCarrierService">
      <soap:address location="http://10.171.16.201:8091/ICTToCarrierService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>